.action-button {
    background-color: #3040c4;
    color: #fff;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    border: none;
    @include for-large-up {
        width: 160px;
    }
}

.hide_desktop {
    @include for-large-up {
        display: none;
    }
}

.hide_mobile {
    @include for-large-down {
        display: none;
    }
}

.icon-arrow_right {
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png);
    display: inline-block;
    height: 12px;
    width: 8px;
}