.customers {
    display: flex;
    flex-direction: column;
    @include for-large-up {
        max-width: 1140px;
        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content: space-between;
        padding-bottom: 106px;
        padding-top: 30px;
        align-items: center;
    }
    &__row {
        display: flex;
        // justify-content: center;
        @include for-large-up {
            flex: 1;
            justify-content: space-around;
        }
    }
    &__item {
        height: 94px;
        width: 107px;
        border-bottom: 1px solid #e3e3e3;
        border-right: 1px solid #e3e3e3;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        &:last-child {
            border-right: none;
        }
        @include for-large-up {
            border: none;
            // flex-direction: row;
        } 
    } 
    &__logo {
        filter: brightness(0);
        max-width: 80%;
    }
    }
    